<mat-sidenav-container class="sidenav-container" fullscreen>
    <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
        <mat-toolbar color="primary">Navigation</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/home" routerLinkActive="active"><span class="fas fa-home"></span><span class="icon-label-margin">Start</span></a>
            <a mat-list-item routerLink="/degree-programmes" routerLinkActive="active"><span class="fas fa-graduation-cap"></span><span class="icon-label-margin">Studiengänge</span></a>
            <a mat-list-item routerLink="/playground" routerLinkActive="active"><span class="fas fa-campground"></span><span class="icon-label-margin">Spielplatz</span></a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>ReactiveX Demo</span>
        </mat-toolbar>
        <div class="content-margin">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>