/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$custom-typography: mat-typography-config(
  $font-family: 'Roboto'
);

@include mat-base-typography($custom-typography);
@include mat-core($custom-typography);

body {
    margin: 0px;
}

*{
    font-family: 'Roboto';
}