<mat-card class="course-card mat-elevation-z10">
    <mat-card-header>
        <mat-card-title>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>
                <h1 class="mat-headline" style="margin-top: 15px;">RxJS Prototyp</h1>
            </mat-card-title>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content class="mat-body" style="margin-left: 8px;">
        
    </mat-card-content>

    <mat-card-actions class="course-actions">
        <a mat-flat-button class="mat-button mat-primary" href="https://github.com/domibl/ba-reactive-programming">
            Github
        </a>
    </mat-card-actions>
</mat-card>