.margin-container{
    margin: 15px;
}

.auto-margin{
    margin-top: auto;
    margin-bottom: auto;
}

.course-card {
    margin: 20px 10px;
}

.course-actions {
    text-align: right;
}

.header-image {
    background-image: url('http://reactivex.io/assets/Rx_Logo_S.png');
    background-size: cover;
  }